.questionPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 100%;
  margin: 0;
}

.answers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 0;
  grid-row-gap: 0;
  padding: 0;
  margin: 0;
}


.button {
  width: 40vw;
  word-break: keep-all;
  height: 13vh;
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 0 auto;
  margin: 10px 1vw;
  border-radius: 10px;  
  font-size: 3vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #4fdfc7 0%, #4830F0 51%, #47e4ca 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  white-space: break-spaces;
  overflow:inherit;
}

.button:hover {
  background-position: right center;
}

.button:disabled {
  background-position: 0;
}


.questionSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.wrapper {
  max-width: 1170px;
  padding: 1%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  height: 100vh;
}


.info {
  display: flex;
  flex-direction: row;
}


.gameOverPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.restartButton {
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 20px 30px;
  margin: 10px 20px;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  transition: .5s;
  font-size: 3vw;
  font-weight: bold;
  white-space: nowrap;
  white-space: normal;

}

.helpPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}



.menuPage {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.startPage {
  display: flex;
  height: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.currentQuestion {
  margin-left: 1vh;
  margin-right: 1vh;
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5vh;
  background-image: linear-gradient(90deg, #3bb52a, #00ae85, #009ee4, #0083ff, #3b41f9);
  font-family: 'Montserrat', sans-serif;
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  letter-spacing: 2px;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  white-space: normal;
  word-break: keep-all;

}

.score {
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5vh;
  background-image: linear-gradient(90deg, #3bb52a, #00ae85, #009ee4, #0083ff, #3b41f9);
  font-family: 'Montserrat', sans-serif;
  background-size: 200% auto;
  box-shadow: 0 0 20px rgba(0, 0, 0, .1);
  letter-spacing: 2px;
  text-align: center;
  font-size: 3vw;
  font-weight: bold;
  white-space: normal;
  word-break: keep-all;

}

.answer-block {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  z-index: 9999;
}

.correct {
  background-color: green;
}

.incorrect {
  background-color: red;
}

.feedback {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
  color: white;
  border-radius: 4px;
  z-index: 999;
  animation: fadeOut 1s ease-in;
}


.feedback.correct {
  background-color: green;
}

.feedback.incorrect {
  background-color: red;
}

.stepper {
  height: 100px;
  width: 100px;
  size: 100px;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.questionSection.entering {
  animation: Appearance 2s forwards;
}


.questionSection.exiting {
  animation: Appearance 2s reverse;
}

.questionSection.exited {
  animation: exit infinite
}

@-webkit-keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes Appearance {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes exit {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

.flagImage {
  max-height: 40vh;
  margin: 0;
  padding: 0;
}

.text {
  align-self: center;
  justify-self: center;
  margin: 3% auto;
}

:focus {
  outline: none;
}
